@font-face {
    font-family: honeycomb;
    src: url(../fonts/Honeycomb-Sharp.otf);
}

.hex {
    float: left;
    margin-left: 1.5px;
    margin-bottom: -13px;
    
}
.hex .top {
    width: 0;
    border-bottom: 15px solid#f9ecc2;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
}
.hex .middle {
    width: 52px;
    height: 30px;
    background:#f9ecc2;
}
.hex .bottom {
    width: 0;
    border-top: 15px solid #f9ecc2;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
}
.hex-row {
    clear: left;
}

.hex-row.even {
    margin-left: 26.5px;
}

body {
    background-image: url(../images/background_main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: grid;
    grid-template-columns: 60% 20% 20%;
    grid-template-rows: 30% 30% 20% 20%;
}

.res:hover{
    animation-name:darken;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.res:not(:hover){
    animation: brighten 1s;
}

#logo:active{
    animation-name:rotateHue;
    animation-duration:5s;
    animation-iteration-count: infinite;
}

@keyframes rotateHue{
    from{}
    to{filter: hue-rotate(360deg)}
}

@keyframes brighten{
    from{}
    to{filter: brightness(100%);}
}

@keyframes darken{
    from{}
    to{filter: brightness(80%);}
}

.res {
    width: 122px;
    height: 104px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-left: 71px;
}

.res path {
    fill: transparent;
}

.res text {
    font-family: honeycomb;
    font-size: 2em;
}

#logo {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    list-style-type: none;
}

li {
    font-family: honeycomb;
    font-weight: bold;
    height: 80px;
    padding-left: 42px;
    padding-top: 40px;
    font-size: 2.5em;
}

#yellow {
    background: url(../images/player_1_play.png) no-repeat left;
}

#black {
    background: url(../images/player_2_wait.png) no-repeat left;
}

#matchTime {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

p {
    font-family: honeycomb;
    font-size: 1.75em;
    text-align: center;
}

#board {
    width: 750px;
    height: 450px;
}

#middle p {
    font-family: honeycomb;
    font-size: 1.75em;
}

#bottom p {
    font-family: honeycomb;
    font-size: 1.75em;
}

#bottom p, svg {
    display: inline;
}

#statusBar {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    padding: 25px;
    border: 3px solid black;
    border-radius: 18px;
    background-color: #f9ecc2;
}

.game-board-divs{
    float: left;
    width: 1000px;
    position:absolute;
}

.yellowStone{
    border-radius:50%;
    position:absolute;
    width: 42px;
    height: 42px;
    background-color: rgb(211, 211, 30);
    margin-top:8.3px;
    margin-left:4.8px;
}

.blackStone{
    border-radius:50%;
    position:absolute;
    width: 42px;
    height: 42px;
    background-color: rgb(0, 0, 0);
    margin-top:8.3px;
    margin-left:4.8px;
}

.game-background{
    background-color:#eec33d;
    position: absolute;
    transform: skew(-30.5deg);
    height: 515px;
    width: 610px;
    margin-left: 125px; 
}

.game-background::before{
    content: "";
    background-color: black;
	width: 25px;
	height: 515px;
	position: absolute;
}

.game-background::after{
    content: "";
    background-color: black;
	width: 25px;
	height: 515px;
    position: absolute;
    left: 585px;
    z-index: 10;
}



.black-bar {
	background-color: black;
	transform: skew(-30.5deg);
	width: 25px;
	height: 515px;
	position: absolute;
}

.black-bar.one{
    margin-left: 121px;
}

.black-bar.two{
    margin-left: 715px;
}

.entire-board{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
    padding-left: 50px;
    padding-top: 50px;
}

.resize{
    position:fixed;
    z-index: 10;
    bottom:30px;
    background-color:antiquewhite;
    width:80%;
    height:auto;
    display:none;
    border: 2px solid chocolate;
    text-decoration: darkolivegreen;
    color:black;
    font-size:1em;
}
@media only screen and (max-width: 600px){
    .resize{
        display:block;
    }
}

@media only screen and (orientation:landscape) and (max-width:1000){
    .scale-me{
        zoom: .5;
        -moz-transform: scale(.5);
    }

    .resize{
        display:none;
    }

    body{
        font-size:10px;
    }
}