@font-face {
    font-family: honeycomb;
    src: url(../fonts/Honeycomb-Sharp.otf);
}

body {
    background-image: url(../images/background_main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

svg {
    width: 122px;
    height: 104px;
    float: right;
    margin-top: 2%;
    margin-right: 14.6%;
}

h1{
    text-align: center;
    font-family: honeycomb;
    font-size: 5em;
    color: #eec33d;
}

ol {
    width: 700px;
    margin: 0 auto;
    font-size: 1.5em;
    font-family: honeycomb;
    font-weight: bold;
}

li {
    margin-top: 20px;
}

path {
    fill: transparent;
}

text {
    font-family: honeycomb;
    font-size: 2.5em;
}